/* CSS Document */
#login {
	background:url(../img/yup.jpg)  center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100%;
  min-width: 100%;
	}   

body {
	 background:#009999 no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100%;
  min-width: 1024px;
	}
#bar {
  background:#ffffff no-repeat; 
  width:220px;
  border-radius:10px;
  margin-left:-30px;
	}
	
#dash {
	background:url(../img/b.jpg);
	width:200px;
	height:200px;
	border-radius:10px;
	margin:10px;
}